/* INDEX.HTML CSS CODE */

body {
	font-family: "Raleway", arial;
}

/* Header for Index Page properties */
header {
	background-image: url("../images/mexico_flag1.jpg");
	height: 1000px;
	width:100%;
	background-size: cover;
	text-align: center;
	font-weight: lighter;
}

/*Navigation bar for all pages*/
nav {
	height: 75px;
	line-height: 75px;
}

/*Each links properties */
.nav-but a {
	color: #000;
	padding: 10px;
	font-size: 18px;
	font-weight: normal;
	border: 1px solid black;
	border-radius: 5px;
}

.nav-but a:hover {
	background-color:#000;
}

/* Tatiana Diaz-Gallegos - Header */
h1 {
	margin-top: 90px;
	font-family: "Raleway", arial;
	font-weight: lighter;
	color: #111;
	font-size: 8.0em;
}

/* CE Student - Header*/
h2 {
	margin-top: 175px;
	font-family: "Raleway", arial;
	color: black;
	font-size: 27px;
}

/* LinkedIn Button*/
.button {
	color: black;
	font-size: 23px;
	background-color: #AF473C;
	padding: 10px 40px 10px 40px;
	line-height: 90px;
	border-radius: 6px;
	margin-top: 80px;
}

/* Row class properties*/
.row {
	color: #252527;
	padding: 50px 0px 50px 0px;
	border-bottom: 1px solid #f1f1f1;
	background-color: #945D60;
}

/* About me -Section */
h3 {
	text-align: center;
	font-size: 33px;
	font-weight: normal;
	color: white;
}

/* Paragraph properties*/
p {
	text-align: center;
	width: 90%;
	max-width: 500px;
	margin: 0 auto;
	font-size: 18px;
	color: white;
}

/* Icon properties (images) */
.icon {
	width: 100px;
	height: 100px;
	margin: 0 auto;
	margin-bottom: 10px;
	background-size: cover;
}

/* Image of me */
#meee {
	background-image: url("../images/mybody.png");
	width: 100px;
	height: 100px;
	margin: 0 auto;
	align-items: center;
	text-align: center;
}

/* Image of SHPE */
#shpe {
	background-image: url("../images/shpe.png");
}

/* Image of people */
#people {
	background-image: url("../images/alianza_latina.jpeg");
}

/* --------------------------------------------------------------------- */
/* ABOUT.HTML CSS CODE */

/* FOR MAP */
#map {
	max-width: 512px;
	margin: 0 auto;
	margin-bottom: 50px;
}

/* About me -Header */
h4 {
	margin-top: 120px;
	font-family: "Raleway", arial;
	font-weight: lighter;
	color: #111;
	font-size: 5.0em;
}

/* My Hometown -Header */
h5 {
	margin-top: 80px;
	font-family: "Raleway", arial;
	color: black;
	font-size: 27px;
}

/* Header for About Page properties */
header2 {
	color: black;
	height: 600px;
	width:100%;
	background-size: cover;
	text-align: center;
	font-weight: lighter;
}

/* Row2 class properties */
.row2 {
	color: black;
	padding: 60px 10px 250px 10px; /*top, right, bottom, and left*/
	background-color: #626E60;
}

/* --------------------------------------------------------------------- */
/* PROJECTS.HTML CSS CODE */

/* Header fot Projects page */
header4 {
	background-image: url("../images/mexico_flag2.jpg");
	height: 1000px;
	width:100%;
	background-size: cover;
	text-align: center;
	font-weight: lighter;
}

/* See what I'm doing - Header */
h6 {
	text-align: center;
	font-size: 33px;
	font-weight: normal;
	color: #3C3C3C;
}


/* --------------------------------------------------------------------- */
/* VOLUNTEER.HTML CSS CODE */

/* Multiple images rotating */
placeholderdiv {
	margin: 0 auto;
	padding: 100px;/*top, right, bottom, and left*/
	text-align: center;
	align-items: center;
	position:absolute;
}

/* Row3 class properties */
.row3 {
	color: black;
	padding: 60px 10px 550px 10px; /*top, right, bottom, and left*/
	background-color: #AF473C;
}
